$Color-Pallette-1: #CCDBDC;
$Color-Pallette-2: #80CED7;
$Color-Pallette-3: #63C7B2;
$Color-Pallette-4:  #8E6C88;
$Color-Pallette-5: #263d42;
.main{
    background-color: $Color-Pallette-1;
    width: 500px;
    height: 600px;
    margin-left: 500px;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    border-radius: 25px;
    position: relative;
    box-shadow: 10px 5px 5px $Color-Pallette-5;
}
.Border-line-event{
    position: relative;
    padding-top: -10px;
}

.field_Id{
    border-radius: 5px;
    margin-top: 100px;
    
    font-size: 30px;
}

.field_1{
    margin-top: 100px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
}

.delete_Button {
    background-color: $Color-Pallette-5;
    color: $Color-Pallette-4;
    font-size: 50px;
    height: 100px;
    width: 410px;
    margin-top: 160px;
    border-radius: 50px;
}

.delete_Button:hover{
    color: $Color-Pallette-1;
}