$Color-Pallette-1: #CCDBDC;
$Color-Pallette-2: #80CED7;
$Color-Pallette-3: #63C7B2;
$Color-Pallette-4:  #8E6C88;
$Color-Pallette-5: #263d42;

.profile-img{
    display: flex;
    background-color:$Color-Pallette-1;
    height: 75px;
    width: 75px;
    border-radius: 100px;
    justify-content: center;
    text-align: center;
}
.profile-fullName {
    width: auto;
    height: auto;
    margin-left: 100px;
    margin-top: -58px;
}
.img-exists{
    margin-left: 10px;
}
