/* ===== Outer background ===== */
.events-wrapper {
    background: var(--platinum);
    display: flex;
    justify-content: center;
    margin: auto;
}

.events-card-overview {
    background: white;
    border-radius: var(--border-radius);
    padding: 50px;
    width: 1000px;
    color: var(--gunmetal);
}

.event-card-title{
    font-size: 20px;
    font-weight: 700;
}

.events-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
}

/* ===== Month navigation ===== */
.month-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 30px;
}

.arrow-btn {
    border: none;
    background: none;
    color: var(--tiffany);
    font-size: 32px;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s;
}

.arrow-btn:hover {
    transform: scale(1.15);
    opacity: 0.7;
}

.month-label {
    font-size: 32px;
    font-weight: 700;
    color: var(--gunmetal);
}

/* ===== Events List ===== */
.events-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-left: 100px;
    height: 400px;
    overflow-y: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

.events-list::-webkit-scrollbar {
    padding: 10px;
    display: none; /* Chrome/Safari scrollbar verbergen */
}

.events-list {
    padding: 10px;
    scrollbar-width: none; /* Firefox scrollbar verbergen */
}

/* ===== Empty state ===== */
.no-events {
    background: var(--tiffany);
    padding: 30px 40px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    color: var(--gunmetal);
    width: fit-content;
;
}

.no-events-wrapper {
    margin-left: 160px;
    width: 100%;
    display: flex;
    justify-content: center;
}