/* // Global box-sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* // Main wrapper for the input form */
.Main-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: var(--white);
}

.Main-Button{
  position: absolute;
  transform: translate(-346%, -875%);
  padding: 20px;
}

.Main-Button-With-Review{
  position: absolute;
  transform: translate(-346%, -875%);
  padding: 20px;
}

.text-length{
  position: absolute;
  transform: translate(900%, 750%);
  font-size: 14px;
  font-weight: 700;
  color: var(--gunmetal);
}

/* // Form and input area */
.formulier-Review {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 900px;
}

.review-textarea {
  flex: 1;
  height: 120px;
  padding: 12px;
  font-size: 16px;
  border-radius: 15px;
  border: 1px solid var(--platnum);
  resize: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: all 0.2s ease;
  overflow: auto;
  word-wrap: break-word;
  transform: translate(0%, 100%);
}

.review-textarea:focus {
  border-color: var(--nonphoto); 
  box-shadow: 0 0 8px rgba(76, 110, 245, 0.3);
  outline: none;
}

/* // Submit button */
.submit-button {
  margin-left: 10px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--platnum);
  transform: translate(20%, 116%);

  img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
  }
}

/* // Wrapper for all reviews */
.Main-Review-Render-Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 230px;
  max-height: 310px; /* maximale hoogte voor scroll */
  overflow-y: auto; /* scroll bij overflow */
  gap: 20px; /* ruimte tussen reviews */
}

.Main-Review-Render-Wrapper::-webkit-scrollbar {
  display: none; /* Chrome/Safari scrollbar verbergen */
}

.Main-Review-Render-Wrapper {
  scrollbar-width: none; /* Firefox scrollbar verbergen */
}

/* // Individual review styling */
.Review {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 900px;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid var(--gunmetal);
  background-color: var(--white);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.Review-text {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  color: var(--gunmetal);
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.other-content-review {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray);
}


.Warning-Message {
  position: absolute;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: var(--violet);
  margin-top: 0px;
}