$Color-Pallette-1: #CCDBDC;
$Color-Pallette-2: #80CED7;
$Color-Pallette-3: #63C7B2;
$Color-Pallette-4:  #8E6C88;
$Color-Pallette-5: #263d42;


.table-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 150px;
  position: relative;
}

.event-card {
  background-color: $Color-Pallette-1;
  border-radius: 15px;
  width: 400px;
  height: 300px;
  padding: 10px;
  position: relative;
}
.event-card:hover {
  background-color: $Color-Pallette-5;
  border-radius: 15px;
  width: 400px;
  height: 300px;
  padding: 10px;
  position: relative;
  box-shadow: 0 4px 8px $Color-Pallette-3;
}

.event-id{
  background-color: $Color-Pallette-3;
  border-radius: 50px;
  width: 65px;
  height: 65px;
  position: absolute;
  left: 20px;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: $Color-Pallette-4;
}

.event-name{
  color:  $Color-Pallette-4;
  position: absolute;
  left: 90px;
  font-weight: bold;
  font-size: 50px;
}

.event-details button{
  background-color: $Color-Pallette-5;
  border-radius: 10px;
  box-shadow: 2px 2px 5px $Color-Pallette-2;
  border: none;
  position: absolute;
  font-size: 50px;
  text-align: center;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: bold;
  color: white;
  left: 70px;
  bottom: 60px;
  animation: buttonmove 10s;
}

.event-card .event-details button:hover {
 box-shadow: 5px 4px 20px $Color-Pallette-3;
}

.table-title{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 50px;
}
.Calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $Color-Pallette-5;
  gap: 0px;
  margin-top: 0px;
  margin-left: -150px;
  padding-bottom: 50px;
}

.left-Button,
.right-Button {
  background: none;
  border: none;
  font-size: 60px;
  font-weight: bold;
  color: $Color-Pallette-5;
  z-index: 3;
  cursor: pointer;
  transition: color 0.3s ease;
}

.left-Button:hover,
.right-Button:hover {
  color: $Color-Pallette-2;
}

.monthName {
  font-size: 30px;
  color: $Color-Pallette-5;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  min-width: 300px;
}


.events-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 per rij */
  gap: 30px;
  width: 85%;
  justify-items: start;
  margin-top: 100px;
}

.underLine {
  margin-top: 2px;
  position: absolute;
  font-size: 30px;
  color: $Color-Pallette-5;
  font-weight: bold;
}

.errorMessage {
  background-color: $Color-Pallette-3;
  padding: 50px;
  border-radius: 25px;
  position: absolute;
  bottom: 10px; // moves it below the month name or buttons
  left: 50%;
  transform: translateX(-72%);
  font-size: 24px;
  color: $Color-Pallette-5;
  font-weight: bold;
}

.creator-fullName {
  margin-top: 250px;
  font-size: 24px;
  font-weight: bold;
  color: $Color-Pallette-4;
}

@keyframes buttonmove {
  100% {
    left: 70px;
  }
  75%{
    left: 60px;
  }
  50% {
    left: 50px;
  }
  25% {
    left: 20px;
  }
  0% {
    left: -1010px;
  }

}