$Color-Pallette-1: #CCDBDC;
$Color-Pallette-2: #80CED7;
$Color-Pallette-3: #63C7B2;
$Color-Pallette-4: #8E6C88;
$Color-Pallette-5: #263d42;

.Main-Content {
  background-color: $Color-Pallette-1;
}

.Content{
  background-color: white;
  width: 1000px;
  min-height: 366px;
  border-radius: 26px;
  padding-top: 50px;
  padding-right: 359px;
  padding-left: 359px;
  padding-bottom: 50px;
  gap: 30px;
}

.table-title{
  font-size: 36px;
  font-weight: bold;
  font-family: 'Sen', sans-serif;
  padding: 23px;
  margin-left: -70px;
}



.event-card {
  background-color: white;
  border-radius: 16px;
  width: 500px;
  height: 150px;
  padding: 20px;
  margin-top: -20px;
  margin-left: -70px;
  gap: 20px;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);

}

.event-card:hover {
  background-color: white;
  border-radius: 16px;
  width: 510px;
  height: 160px;
  padding: 20px;
  margin-top: -20px;
  margin-left: -70px;
  gap: 20px;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
}



.Calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $Color-Pallette-5;
  margin-top: -30px;
  margin-left: -60px;
  padding-bottom: 30px;
}

.left-Button,
.right-Button {
  width: 36px;
  height: 36px;
  background: none;
  border: none;
  font-size: 36px;
  font-weight: bold;
  color: $Color-Pallette-2;
  z-index: 3;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-left: -50px;
  margin-right: -50px;
  margin-top: -40px;
}

.monthName {
  font-size: 32px;
  font-family: 'Sen', sans-serif;
  text-align: center;
  color: $Color-Pallette-5;
  font-weight: bold;
  letter-spacing: -3px;
  min-width: 300px;
  padding-top: -70px;
  padding-left: -20px;
}


.events-container {
  display: grid;
  margin-left: -80px;
  grid-template-columns: repeat(1, 1fr); /* 3 per rij */
  gap: 30px;
  justify-items: center;
  margin-top: 0px;
  position: relative;
}

.errorMessage {
  background-color: $Color-Pallette-3;
  padding: 50px;
  border-radius: 25px;
  position: relative;
  bottom: 10px; // moves it below the month name or buttons
  left: 50%;
  transform: translateX(-72%);
  font-size: 24px;
  color: $Color-Pallette-5;
  font-weight: bold;
  margin-left: 0px;
  left: 250px;
}



.main-filter {
  position: absolute;
  right: 0;
  margin: 20px; /* optional breathing room */
}

.search-filter {
  position: absolute;
  margin-left: -600px;
  margin-top: -120px;
  height: 40px;
  padding: 15px;
  border-radius: 50px;
}