$Color-Pallette-1: #CCDBDC;
$Color-Pallette-2: #80CED7;
$Color-Pallette-3: #63C7B2;
$Color-Pallette-4:  #8E6C88;
$Color-Pallette-5: #263d42;

.main-background{
    background-color: $Color-Pallette-1;
    padding: 100px;
    padding-left: 270px;
    min-height: auto; 
    gap: 10px;
}

.main-card-event {
    display: fixed;
    background-color: white;
    width: 1000px;
    min-height: 815px;
    border-radius: 26px;
    padding: 50px;
    margin-top: -50px;
    gap: 30px;
}

.event-all-content{
    margin-top: 50px;
    margin-left: 20px;
}

.event-title{
    margin-top: -30px;
    height: 24px;
    text-align: center;
    width: 900px;
    gap: 10px;
}
.event-title-content{
    font-family: 'San', sans-serif;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: -3px;
}

.event-date-content{
    font-family: 'San', sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -1px;
}

.event-time-content{
    font-family: 'San', sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -1px;
}

.event-description{
    font-family: 'San', sans-serif;
    font-size: 24px;
    letter-spacing: -1px;
    margin-top: -10px;
    margin-left: 15px;
}

.attendees-content{
    font-family: 'San', sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 20px;

}

.attendees-overzicht {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}

.user-button {
    justify-content: right;
    text-align: right;
}

.edit-button {
    color: $Color-Pallette-3;
    font-family: 'San', sans-serif;
    font-size: 16px;
    background-color: white;
    border-radius: 8px;
    width: 70px;
    height: 34px;
    justify-content: center;
    text-align: center;
    border: solid $Color-Pallette-3;
}


// .admin-panel-users table {
//   width: 100%;
//   border-collapse: collapse;
// }
// .paneel-Card-users{
//     box-shadow: 0px 0px 5px $Color-Pallette-5;
// }
// .admin-panel-users td {
//     font-weight: bold;
//     padding: 9px;
//     text-align: center;
//     background-color: $Color-Pallette-2;
// }

// .admin-panel-users th {
//     font-weight: bold;
//     padding: 15px;
//     margin-left: -50px;
//     text-align: left;
//     background-color: $Color-Pallette-2;
// }

// .main-users{
//     transform: translate(0%, -400%);
// }
// .admin-panel-users {
//     position: absolute;
//     height: 150px;
//     width: 200px;       /* give some width */
//     border-radius: 20px;
//     box-shadow: 0px 0px 10px $Color-Pallette-5;
//     left: -500px;
//     top: -600px;

//     overflow-y: auto;   /* vertical scroll */
//     overflow-x: auto; /* hide horizontal scroll */
// }

// .gebruikers-panel-users table {
//   width: 100%;
//   border-collapse: collapse;
// }
// .gebruikers-paneel-Card-users{
//     box-shadow: 0px 0px 5px $Color-Pallette-5;
// }
// .gebruikers-panel-users td {
//     font-weight: bold;
//     padding: 9px;
//     text-align: center;
//     background-color: $Color-Pallette-2;
// }

// .gebruikers-panel-users th {
//     font-weight: bold;
//     padding: 15px;
//     text-align: center;
//     background-color: $Color-Pallette-2;
// }

// .gebruikers-main-users{
//     transform: translate(0%, 0%);
// }
// .gebruikers-panel-users {
//     display: flex;
//     flex-direction: column;
//     padding-left: 40px;
//     position: relative;
//     height: 450px;
//     width: 300px;       /* give some width */
//     border-radius: 20px;
//     box-shadow: 0px 0px 10px $Color-Pallette-5;
//     margin: auto;
    
//     transform: translate(110%, 165%);
//     right: 0;
//     flex-direction: column;
//     margin: 0 auto;
//     margin-top: -608px;
//     margin-bottom: 30px;

//     overflow-y: auto;   /* vertical scroll */
//     overflow-x: auto; /* hide horizontal scroll */
// }
// .form-decline-event,
// .form-join-event{
//     position: relative;
//     margin: 0 auto;
//     margin-top: -300px;
//     margin-bottom: 60px;
//     height: 200px;
//     width: 400px;
//     z-index: 1;
// }
// .button-decline,
// .button-join {
//     position: relative;
//     height: 100px;
//     width: 200px;
//     background-color: $Color-Pallette-2;
//     color: $Color-Pallette-5;
//     font-weight: bold;
    
//     left: -50px;
//     border-top-left-radius: 50px;
//     border-bottom-left-radius: 50px;
//     animation: buttonpressed 5s ease-in-out forwards;
// }

// .button-decline:hover,
// .button-join:hover {
//     position: relative;
//     height: 100px;
//     width: 200px;
//     background-color: $Color-Pallette-2;
//     color: $Color-Pallette-5;
//     font-weight: bold;
    
//     left: -50px;
//     border-top-left-radius: 50px;
//     border-bottom-left-radius: 50px;
//     transform: translateX(-130px) scale(0.99);
// }


// @keyframes buttonpressed {
//   0% {
//     opacity: 0;
//     margin-top: 400px;
//     box-shadow: 5px 5px 0px $Color-Pallette-5;
//   }
//   50% {
//     opacity: 0.5;
//     margin-top: 600;
//     box-shadow: 10px 10px 10px $Color-Pallette-5;
//   }
//   100% {
//     opacity: 1;
//     margin-top: 800px;
//     box-shadow: 20px 20px 15px $Color-Pallette-5;
//   }
// }
// @keyframes buttonhovered {
//     0% {
//         left: -50px;
//         font-weight: bold;
//         color: $Color-Pallette-1;
//     }
//     50% {
//         left: -80px;
//         font-weight: bold;
//         color: $Color-Pallette-5;
//     }
//     100%{
//         left: -14s0px;
//         font-weight: bold;
//         color: $Color-Pallette-1;
//     }
// }
