$Color-Pallette-1: #CCDBDC;
$Color-Pallette-2: #80CED7;
$Color-Pallette-3: #63C7B2;
$Color-Pallette-4:  #8E6C88;
$Color-Pallette-5: #263d42;


.Border-line-event{
    background-color: $Color-Pallette-5;
    width: 430px;
    height: 570px;
    margin: 0 auto;
    position: relative;
    margin-top: 60px;
    margin-bottom: 30px;
    border-radius: 20px;
    z-index: 1;
}

.main-card-event {
    background-color: $Color-Pallette-1;
    width: 490px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-left: -0px;
    margin-top: -614px;
    margin-bottom: 30px;
    position: relative;
    border-radius: 20px;
}

.inner-event{
    background-color: $Color-Pallette-1;
    width: 415px;
    height: 557px;
    margin: 0 auto;
    position: relative;
    margin-top: -595px;
    margin-bottom: 30px;
    border-radius: 20px;
    z-index: 2;
}

.underscore-event {
    background-color: $Color-Pallette-5;
    width: 340px;
    height: 5px; 
    left: 71px;
    top: 150px;
    position: absolute;
    border-radius: 50px;
    z-index: 3;
}

.event-id-detail{
    color: $Color-Pallette-5;
    background-color: $Color-Pallette-3;
    position: absolute;
    width: 65px;
    height: 65px;
    left:50px;
    top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    border-radius: 50px;
    z-index: 3;
}

.event-name-detail{
    color: $Color-Pallette-5;
    position: absolute;
    top: 30px;
    left: 140px;
    font-weight: bold;
    font-size: 50px;
    z-index: 3;

}
.event-description-detail{
    position: absolute;
    color: $Color-Pallette-5;
    left: 70px;
    top: 200px;
    font-size: 30px;
    width: 80%;
    z-index: 3;
    font-weight: bold;
}


.place-event{
    color: $Color-Pallette-5;
    font-weight: bold;
    font-size: 40px;
    margin-left: 25px;
    margin-top: 280px;
    z-index: 3;
}
.place-outer-event{
    background-color: $Color-Pallette-5;
    margin-left: 100px;
    height: 70px;
    width: 300px;
    z-index: 3;
    border-radius: 5px;
}
.place-inner-event{
    background-color: $Color-Pallette-1;
    margin-top: 5px;
    margin-left: 5px;
    height: 60px;
    width: 290px;
    z-index: 3;
    border-radius: 5px;
}
.date-event{
    font-weight: bold;
    color: $Color-Pallette-5;
    font-size: 40px;
    z-index: 3;
    margin-left: 25px;
    margin-top: 0px;
}
.date-outer-event{
    background-color: $Color-Pallette-5;
    margin-left: 100px;
    height: 70px;
    width: 300px;
    z-index: 3;
    border-radius: 5px;
}
.date-inner-event{
    background-color: $Color-Pallette-1;
    margin-top: 5px;
    margin-left: 5px;
    height: 60px;
    width: 290px;
    z-index: 3;
    border-radius: 5px;
}

.actual-place-event{
    color: $Color-Pallette-5;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    justify-content: center;
}

.actual-date-event{
    color: $Color-Pallette-5;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    justify-content: center;
}


.admin-panel-users table {
  width: 100%;
  border-collapse: collapse;
}
.paneel-Card-users{
    box-shadow: 0px 0px 5px $Color-Pallette-5;
}
.admin-panel-users td {
    font-weight: bold;
    padding: 9px;
    text-align: center;
    background-color: $Color-Pallette-2;
}

.admin-panel-users th {
    font-weight: bold;
    padding: 15px;
    margin-left: -50px;
    text-align: left;
    background-color: $Color-Pallette-2;
}

.main-users{
    transform: translate(0%, -400%);
}
.admin-panel-users {
    position: absolute;
    height: 150px;
    width: 200px;       /* give some width */
    border-radius: 20px;
    box-shadow: 0px 0px 10px $Color-Pallette-5;
    left: -500px;
    top: -600px;

    overflow-y: auto;   /* vertical scroll */
    overflow-x: auto; /* hide horizontal scroll */
}

.gebruikers-panel-users table {
  width: 100%;
  border-collapse: collapse;
}
.gebruikers-paneel-Card-users{
    box-shadow: 0px 0px 5px $Color-Pallette-5;
}
.gebruikers-panel-users td {
    font-weight: bold;
    padding: 9px;
    text-align: center;
    background-color: $Color-Pallette-2;
}

.gebruikers-panel-users th {
    font-weight: bold;
    padding: 15px;
    text-align: center;
    background-color: $Color-Pallette-2;
}

.gebruikers-main-users{
    transform: translate(0%, 0%);
}
.gebruikers-panel-users {
    padding-left: 40px;
    position: absolute;
    height: 450px;
    width: 300px;       /* give some width */
    border-radius: 20px;
    box-shadow: 0px 0px 10px $Color-Pallette-5;
    left: 430px;
    top: -0px;

    overflow-y: auto;   /* vertical scroll */
    overflow-x: auto; /* hide horizontal scroll */
}

.button-join {
    position: absolute;
    height: 100px;
    width: 200px;
    background-color: $Color-Pallette-2;
    color: $Color-Pallette-1;
    left: -190px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-top: 400px;
    animation: buttonpressed 5s ease-in-out forwards;
}

.button-join:hover {
    position: absolute;
    height: 100px;
    width: 200px;
    background-color: $Color-Pallette-2;
    color: $Color-Pallette-1;
    left: -190px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-top: 400px;
    animation: buttonhovered 3s infinite;
}


@keyframes buttonpressed {
  0% {
    opacity: 0;
    margin-top: 100px;
    box-shadow: 5px 5px 0px $Color-Pallette-5;
  }
  50% {
    opacity: 0.5;
    margin-top: 300;
    box-shadow: 10px 10px 10px $Color-Pallette-5;
  }
  100% {
    opacity: 1;
    margin-top: 400px;
    box-shadow: 20px 20px 15px $Color-Pallette-5;
  }
}
@keyframes buttonhovered {
    0% {
        font-weight: bold;
        color: $Color-Pallette-1;
    }
    50% {
        font-weight: bold;
        color: $Color-Pallette-5;
    }
    100%{
        font-weight: bold;
        color: $Color-Pallette-1;
    }
}
