
.profile-img{
    display: flex;
    background-color: var(--platinum);
    height: 75px;
    width: 75px;
    border-radius: 100px;
    justify-content: center;
    text-align: center;
}
.profile-fullName {
    width: auto;
    height: auto;
    margin-left: 100px;
    margin-top: -58px;
}
.img-exists{
    margin-left: 10px;
}
