$Color-Pallette-1: #CCDBDC;
$Color-Pallette-2: #80CED7;
$Color-Pallette-3: #63C7B2;
$Color-Pallette-4: #8E6C88;
$Color-Pallette-5: #263d42;

footer{
    height: 100px;
}

.OPA{
    font-family: 'Sen' sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: $Color-Pallette-1;
    text-underline-offset: none;
    margin-top: -30px;
}

.copyright{
    font-family: 'Sen' sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: $Color-Pallette-1;
    margin-top: -45px;
}

.footer-logo {
    margin-top: -0px;
    margin-left: 10px;
}