$Color-Pallette-1: #CCDBDC;
$Color-Pallette-2: #80CED7;
$Color-Pallette-3: #63C7B2;
$Color-Pallette-4: #8E6C88;
$Color-Pallette-5: #263d42;

.button-event{
    border: none;
    background-color: white;
}

.event-container{
    background-color: white;
    height: 110px;
    width: 330px;
    text-align: left;
    margin-left: 120px;
    gap: 20px;
}

.title {
    font-family: 'San', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
}

.date {
    font-size: 16px;
    letter-spacing: -0.5px;;
    font-family: 'San', sans-serif;
}

.time-place{
    font-family: 'San', sans-serif;
    font-size: 16px;
}